<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/css/cv.css" />
</head>
<body>
<div class="container" id="header">
    <a href="dmsgrd.dk">
        <div id="return_button">
            <h5>Go to <strong>dmsgrd.dk</strong></h5>
        </div>
    </a>
    <h6>CV last updated 22-04-2016</h6>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4" id="left">
            <h1>Jakob<br>
                Damsgaard
            </h1>
            <img src="..\static\img\cv_pic.png" />
            <p id="about">A positive, dedicated and hardworking young man. Hungry for professional challenges and responsibilities after some years of study.
                Dedicated to continues exploring, learning and evolving both as a professional and as a person.
            </p>
            <div class="line"></div>
            <p id="contact">
                <strong>+45 25 62 95 29</strong><br>
                j@dmsgrd.dk<br><br>
                Grete Løchtes Gade 3,4. flat 10<br>
                DK-8000 Aarhus C<br>
                Denmark
            </p>
            <div class="line"></div>
            <div class="links">
                <a src="www.dmsgrd.dk" class="links">www.dmsgrd.dk</a>
                <a src="www.linkedin.com/pub/jakob-damsgaard/50/540/282" class="links">www.linkedin.com/pub/jakob-damsgaard/50/540/282</a>
            </div>
        </div>

        <!--the main content page to the right-->
        <div class="col-sm-8" style="float:right">
            <p> <br></p>
            <div class="line"></div>
            <div class="line-cover" id="experience">
                <h2>Experience</h2>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Maintenance technician</h4>
                    <p class="place">(trainee period + holiday work)</p>
                    <p class="place">Lantmännen Unibake Holstebro 2013-2015</p>
                </div>
                <div class="col-sm-8">
                    <p>Part of the maintenance team at a large bakery production facility. Tasks including troubleshooting, repairing and maintaining electronical and mechanical production equipment, often through teamwork with other internal and external technicians.</p>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Administrative employee</h4>
                    <p class="place">(student job)</p>
                    <p class="place">YMCA & YWCA Aarhus 2014-2015</p>
                </div>
                <div class="col-sm-8">
                    <p>Self-managing employee working directly under the board of the local branch of the nonprofit organization. Job tasks included general running and maintaining of office building, servicing of organization members, and participation in monthly board meetings.</p>
                </div>
            </div>
            <div class="spacer"></div>
        <!--education part-->
            <div class="line"></div>
            <div class="line-cover" id="education">
                <h2>Education</h2>
            </div>
                        <div class="row">
                <div class="col-sm-4">
                    <h4>Expected Bachelor in Technical Engineering</h4>
                    <p class="place"></p>
                    <p class="place">Aarhus School of Marine and Technical Engineering 2012-2017</p>
                </div>
                <div class="col-sm-8">
                    <p>The program is focused on the theoretical understanding and practical application of mechanical engineering, electrical engineering, process automation and management. Always within a context of interdisciplinary group projects.</p>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Exchange semester</h4>
                    <p class="place"></p>
                    <p class="place">City University of Hong Kong</p>
                </div>
                <div class="col-sm-8">
                    <p>High level international university. Courses such as <em>Sustainable and Renewable Energy, Engineering Management, and Industrial Mechatronic Systems</em></p>
                </div>
            </div>
            <div class="spacer"></div>
                        <div class="row">
                <div class="col-sm-4">
                    <h4>HTX</h4>
                    <p class="place"></p>
                    <p class="place">Education Center Holstebro 2008-2011</p>
                </div>
                <div class="col-sm-8">
                    <p>Technical high school exam. Focused on math, physics, chemistry and innovation, along with practical implementation of the subjects.</p>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="line"></div>
                    <div class="line-cover" id="skills">
                        <h2>Skills</h2>
                    </div>
                    <ul>
                        <li>
                            <p>Project and team management</p>
                        </li>
                        <li>
                            <p>Electronical, mechanical and energy engineering proficiencies</p>
                        </li>
                        <li>
                            <p>Automation and PLC programming</p>
                        </li>
                        <li>
                            <p>Fluent in English</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="line"></div>
                    <div class="line-cover" id="interests">
                        <h2>Interests</h2>
                    </div>
                    <ul>
                        <li>
                            <p>Leader in scout and YMCA youth organizations. Planing and execution of camps and project.</p>
                        </li>
                        <li>
                            <p>Running and hiking</p>
                        </li>
                        <li>
                            <p>Road biking and MTB</p>
                        </li>
                        <li>
                            <p>Kite surfing in the Danish fjods</p>
                        </li>
                        <li>
                            <p>Reading. Mainly about technology or politics, but sometimes a science fiction novel, when there is time for it.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="spacer"></div>
        </div>
    </div>
</div>
<div class="container" id="footer">

</div>
</body>
</html>