<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/css/homepage.css" />
</head>
<body>

<div class="container" id="header">
    <h1>Dmsgrd</h1>
    <p>Welcome to the website of Jakob Damsgaard</p>
</div>

<div class="row" id="menu">
    <a href="www.dmsgrd.dk">
        <div class="col-sm-2">
            <p>Home</p>
        </div>
    </a>
    <a href="www.dmsgrd.dk">
        <div class="col-sm-2">
            <p>Blog</p>
        </div>
    </a>
    <a href="www.dmsgrd.dk">
        <div class="col-sm-3">
            <p>Pictures</p>
        </div>
    </a>
    <a href="www.dmsgrd.dk">
        <div class="col-sm-3">
            <p>Apps</p>
        </div>
    </a>
    <a href="www.dmsgrd.dk">
        <div class="col-sm-2">
            <p>CV</p>
        </div>
    </a>
</div>

<div class="row">
    <div class="col-sm-4" id="left">
        .col-sm-4
    </div>
    <div class="col-sm-8" id="right">
        .col-sm-8
    </div>

</div>
<div class="container" id="footer">

</div>
</body>
</html>